.nav {
  width: 90vw;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 3px 4px white;
}
.nav h1 {
  text-shadow: 2px 2px rgb(218, 38, 38);
  color: rgb(26, 6, 6);
  text-align: center;
}

